openapi: "3.0.3"
info:
  title: i-payout API
  version: "1.0"
servers:
  - url: https://merchantapi.testewallet.com
paths:
  # TOKEN MODULE
  /api/v{version}/Authentication/Login:
    $ref: "openAPI/token.yml#/paths/~1api~1v{version}~1Authentication~1Login"
  /api/v{version}/DropinUiToken/GetToken:
    $ref: "openAPI/token.yml#/paths/~1api~1v{version}~1DropinUiToken~1GetToken"

  # BENEFICIARY MODULE
  /api/v{version}/beneficiary/create:
    $ref: "openAPI/beneficiary.yml#/paths/~1api~1v{version}~1beneficiary~1create"
  /api/v{version}/beneficiary/{beneficiaryToken}/getSSOToken:
    $ref: "openAPI/beneficiary.yml#/paths/~1api~1v{version}~1beneficiary~1{beneficiaryToken}~1getSSOToken"
  /api/v{version}/beneficiary/{beneficiaryToken}/balance/{currencyCode}:
    $ref: "openAPI/beneficiary.yml#/paths/~1api~1v{version}~1beneficiary~1{beneficiaryToken}~1balance~1{currencyCode}"
  /api/v{version}/beneficiary/{beneficiaryToken}/status:
    $ref: "openAPI/beneficiary.yml#/paths/~1api~1v{version}~1beneficiary~1{beneficiaryToken}~1status"
  /api/v{version}/beneficiary/{beneficiaryToken}/verificationstatus:
    $ref: "openAPI/beneficiary.yml#/paths/~1api~1v{version}~1beneficiary~1{beneficiaryToken}~1verificationstatus"
  /api/v{version}/beneficiary/{beneficiaryToken}:
    $ref: "openAPI/beneficiary.yml#/paths/~1api~1v{version}~1beneficiary~1{beneficiaryToken}"
  /api/v{version}/beneficiary/exists:
    $ref: "openAPI/beneficiary.yml#/paths/~1api~1v{version}~1beneficiary~1exists"
  /api/v{version}/beneficiary/update/username:
    $ref: "openAPI/beneficiary.yml#/paths/~1api~1v{version}~1beneficiary~1update~1username"

  # PAYOUT MODULE
  /api/v{version}/PayOut/create:
    $ref: "openAPI/payout.yml#/paths/~1api~1v{version}~1PayOut~1create"
  /api/v{version}/PayOut/createSpecial:
    $ref: "openAPI/payout.yml#/paths/~1api~1v{version}~1PayOut~1createSpecial"

  # PAYIN MODULE
  /api/v{version}/PayIn/create:
    $ref: "openAPI/payin.yml#/paths/~1api~1v{version}~1PayIn~1create"
  /api/v{version}/PayIn/get:
    $ref: "openAPI/payin.yml#/paths/~1api~1v{version}~1PayIn~1get"
  /api/v{version}/PayIn/decline:
    $ref: "openAPI/payin.yml#/paths/~1api~1v{version}~1PayIn~1decline"
  /api/v{version}/PayIn/refund:
    $ref: "openAPI/payin.yml#/paths/~1api~1v{version}~1PayIn~1refund"
  /api/v{version}/PayIn/spendback:
    $ref: "openAPI/payin.yml#/paths/~1api~1v{version}~1PayIn~1spendback"
  /api/v{version}/PayIn/createPublicInvoice:
    $ref: "openAPI/payin.yml#/paths/~1api~1v{version}~1PayIn~1createPublicInvoice"
  /api/v{version}/PayIn/refundToCustomer:
    $ref: "openAPI/payin.yml#/paths/~1api~1v{version}~1PayIn~1refundToCustomer"

  # MERCHANT MODULE
  /api/v{version}/merchant/getinfo:
    $ref: "openAPI/merchant.yml#/paths/~1api~1v{version}~1merchant~1getinfo"
  /api/v{version}/merchant/balance/{currencyCode}:
    $ref: "openAPI/merchant.yml#/paths/~1api~1v{version}~1merchant~1balance~1{currencyCode}"
  /api/v{version}/merchant/balancehistory/{type}/{currencyCode}:
    $ref: "openAPI/merchant.yml#/paths/~1api~1v{version}~1merchant~1balancehistory~1{type}~1{currencyCode}"
  /api/v{version}/merchant/statement/{year}/{month}/{currencyCode}:
    $ref: "openAPI/merchant.yml#/paths/~1api~1v{version}~1merchant~1statement~1{year}~1{month}~1{currencyCode}"

  # TRANSACTIONS MODULE
  /api/v{version}/Transaction/get:
    $ref: "openAPI/transactions.yml#/paths/~1api~1v{version}~1Transaction~1get"

  # LOOKUP MODULE
  /api/v{version}/lookup/usa-routing-number/{RoutingNumber}:
    $ref: "openAPI/lookup.yml#/paths/~1api~1v{version}~1lookup~1usa-routing-number~1{RoutingNumber}"
  /api/v{version}/lookup/swift-code/{CountryCode}/{SwiftCode}:
    $ref: "openAPI/lookup.yml#/paths/~1api~1v{version}~1lookup~1swift-code~1{CountryCode}~1{SwiftCode}"
  /api/v{version}/lookup/iban/{CountryCode}/{IBAN}:
    $ref: "openAPI/lookup.yml#/paths/~1api~1v{version}~1lookup~1iban~1{CountryCode}~1{IBAN}"

  # REPORT MODULE
  /api/v{version}/report/customers:
    $ref: "openAPI/report.yml#/paths/~1api~1v{version}~1report~1customers"
  /api/v{version}/report/transfers:
    $ref: "openAPI/report.yml#/paths/~1api~1v{version}~1report~1transfers"
  /api/v{version}/report/{beneficiaryToken}/transfers:
    $ref: "openAPI/report.yml#/paths/~1api~1v{version}~1report~1{beneficiaryToken}~1transfers"

  # TRANSFER MODULE
  /api/v{version}/transfer/beneficiary/{beneficiaryToken}/bankaccount:
    $ref: openAPI/transfers.yml#/paths/~1api~1v{version}~1transfer~1beneficiary~1{beneficiaryToken}~1bankaccount
  /api/v{version}/transfer/beneficiary/{beneficiaryToken}/bankaccount-required-fields:
    $ref: openAPI/transfers.yml#/paths/~1api~1v{version}~1transfer~1beneficiary~1{beneficiaryToken}~1bankaccount-required-fields
  /api/v{version}/transfer/beneficiary/{beneficiaryToken}/bankaccount/{bankAccountToken}:
    $ref: openAPI/transfers.yml#/paths/~1api~1v{version}~1transfer~1beneficiary~1{beneficiaryToken}~1bankaccount~1{bankAccountToken}
  /api/v{version}/transfer/beneficiary/{beneficiaryToken}/creditcard:
    $ref: openAPI/transfers.yml#/paths/~1api~1v{version}~1transfer~1beneficiary~1{beneficiaryToken}~1creditcard
  /api/v{version}/transfer/beneficiary/{beneficiaryToken}/creditcard-required-fields:
    $ref: openAPI/transfers.yml#/paths/~1api~1v{version}~1transfer~1beneficiary~1{beneficiaryToken}~1creditcard-required-fields
  /api/v{version}/transfer/beneficiary/{beneficiaryToken}/creditcard/{creditCardToken}:
    $ref: openAPI/transfers.yml#/paths/~1api~1v{version}~1transfer~1beneficiary~1{beneficiaryToken}~1creditcard~1{creditCardToken}
  /api/v{version}/transfer/beneficiary/{beneficiaryToken}/wire:
    $ref: openAPI/transfers.yml#/paths/~1api~1v{version}~1transfer~1beneficiary~1{beneficiaryToken}~1wire
  /api/v{version}/transfer/beneficiary/{beneficiaryToken}/wire-required-fields:
    $ref: openAPI/transfers.yml#/paths/~1api~1v{version}~1transfer~1beneficiary~1{beneficiaryToken}~1wire-required-fields
  /api/v{version}/transfer/beneficiary/{beneficiaryToken}/wire/{wireToken}:
    $ref: openAPI/transfers.yml#/paths/~1api~1v{version}~1transfer~1beneficiary~1{beneficiaryToken}~1wire~1{wireToken}
  /api/v{version}/transfer/create:
    $ref: openAPI/transfers.yml#/paths/~1api~1v{version}~1transfer~1create
  /api/v{version}/transfer/{token}:
    $ref: openAPI/transfers.yml#/paths/~1api~1v{version}~1transfer~1{token}
  /api/v{version}/transfer/{token}/approve:
    $ref: openAPI/transfers.yml#/paths/~1api~1v{version}~1transfer~1{token}~1approve
  /api/v{version}/transfer/{token}/cancel:
    $ref: openAPI/transfers.yml#/paths/~1api~1v{version}~1transfer~1{token}~1cancel
  
  # VOUCHER MODULE
  /api/v{version}/Voucher/redeem:
    $ref: openAPI/voucher.yml#/paths/~1api~1v{version}~1Voucher~1redeem
  /api/v{version}/Voucher/refund:
    $ref: openAPI/voucher.yml#/paths/~1api~1v{version}~1Voucher~1refund
  /api/v{version}/Voucher/validate:
    $ref: openAPI/voucher.yml#/paths/~1api~1v{version}~1Voucher~1validate

  # WEBHOOK MODULE
  /api/v{version}/webhook/Create:
    $ref: openAPI/webhooks.yml#/paths/~1api~1v{version}~1webhook~1Create
  /api/v{version}/webhook/GetAllEvents:
    $ref: openAPI/webhooks.yml#/paths/~1api~1v{version}~1webhook~1GetAllEvents
  /api/v{version}/webhook/search:
    $ref: openAPI/webhooks.yml#/paths/~1api~1v{version}~1webhook~1search
  /api/v{version}/webhook/{token}:
    $ref: openAPI/webhooks.yml#/paths/~1api~1v{version}~1webhook~1{token}
  /api/v{version}/webhook/{token}/activate:
    $ref: openAPI/webhooks.yml#/paths/~1api~1v{version}~1webhook~1{token}~1activate
  /api/v{version}/webhook/{token}/deactivate:
    $ref: openAPI/webhooks.yml#/paths/~1api~1v{version}~1webhook~1{token}~1deactivate
components:
  securitySchemes:
    apikeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Your API Key.
    XMerchantId:
      type: apiKey
      name: X-MerchantId
      in: header
      description: Your Merchant Identifier (GUID).
    Basic:
      type: http
      scheme: basic
      description: |
        Use API username and password to get the dynamic bearer token which can be used to access all other APIs.
        Example: 'Basic 12345adfad'