openapi: '3.0.3'
info:
  title: Transfers Module
  version: '1.0'
servers:
  - url: https://merchantapi.testewallet.com
tags:
  - name: Transfers
security:
  - apikeyAuth: []
    XMerchantId: []
paths:
  /api/v{version}/transfer/create:
    post:
      tags:
        - Transfers
      summary: Create a Transfer
      operationId: create-transfer
      requestBody:
        content:
          application/json:
            schema:
              required:
                - merchantTransactionId
                - beneficiaryToken
                - destinationToken
                - dateExpire
                - sourceAmount
                - sourceCurrency
                - destinationCurrency
                - destinationType
              $ref: 'openAPI/schemas/transfer_schemas.yml#/schemas/CreateTransferRequest'
      parameters:
        - $ref: 'openAPI/schemas/index.yml#/parameters/Version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: 'openAPI/schemas/index.yml#/schemas/DefaultResponse'
                  - type: object
                    properties:
                      token:
                        type: string
                        description: The token for the created transfer.
                      dateCreated:
                        type: string
                        format: date-time
                        description: The date and time when the transfer was created.
                      dateUpdated:
                        type: string
                        format: date-time
                        description: The date and time when the transfer was last updated.
                      statusId:
                        type: integer
                        description: The status ID of the transfer.
                      fxRate:
                        type: number
                        format: float
                        description: The foreign exchange rate applied to the transfer.
                      customerFee:
                        type: number
                        format: float
                        description: The fee charged to the customer.
                      merchantFee:
                        type: number
                        format: float
                        description: The fee charged to the merchant.
        '400':
          $ref: 'openAPI/schemas/index.yml#/responses/BadRequest'
        '500':
          $ref: 'openAPI/schemas/index.yml#/responses/InternalServerError'
  /api/v{version}/transfer/{token}/cancel:
    put:
      tags:
        - Transfers
      summary: Cancel Transfer
      operationId: cancel-transfer
      parameters:
        - $ref: 'openAPI/schemas/index.yml#/parameters/Version'
        - $ref: 'openAPI/schemas/transfer_schemas.yml#/parameters/Token'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: 'openAPI/schemas/index.yml#/schemas/DefaultResponse'
        '400':
          $ref: 'openAPI/schemas/index.yml#/responses/BadRequest'
        '500':
          $ref: 'openAPI/schemas/index.yml#/responses/InternalServerError'
  /api/v{version}/transfer/{token}/approve:
    put:
      tags:
        - Transfers
      summary: Approve Transfer
      operationId: approve-transfer
      parameters:
        - $ref: 'openAPI/schemas/index.yml#/parameters/Version'
        - $ref: 'openAPI/schemas/transfer_schemas.yml#/parameters/Token'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: 'openAPI/schemas/index.yml#/schemas/DefaultResponse'
        '400':
          $ref: 'openAPI/schemas/index.yml#/responses/BadRequest'
        '500':
          $ref: 'openAPI/schemas/index.yml#/responses/InternalServerError'
  /api/v{version}/transfer/{token}:
    get:
      tags:
        - Transfers
      summary: Get Transfer Details By Identifier
      operationId: get-transfer-by-identifier
      requestBody:
        content:
          application/json:
            schema:
              $ref: 'openAPI/schemas/transfer_schemas.yml#/schemas/CreateTransferRequest'
      parameters:
        - $ref: 'openAPI/schemas/index.yml#/parameters/Version'
        - $ref: 'openAPI/schemas/transfer_schemas.yml#/parameters/Token'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: 'openAPI/schemas/index.yml#/schemas/DefaultResponse'
                  - type: object
                    properties:
                      data:
                        $ref: 'openAPI/schemas/transfer_schemas.yml#/schemas/GetTransferByIdDataResponse'
        '400':
          $ref: 'openAPI/schemas/index.yml#/responses/BadRequest'
        '500':
          $ref: 'openAPI/schemas/index.yml#/responses/InternalServerError'
    put:
      tags:
        - Transfers
      summary: Update a Transfer
      operationId: update-transfer
      requestBody:
        content:
          application/json:
            schema:
              $ref: 'openAPI/schemas/transfer_schemas.yml#/schemas/CreateTransferRequest'
      parameters:
        - $ref: 'openAPI/schemas/index.yml#/parameters/Version'
        - $ref: 'openAPI/schemas/transfer_schemas.yml#/parameters/Token'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: 'openAPI/schemas/index.yml#/schemas/DefaultResponse'
                  - type: object
                    properties:
                      token:
                        type: string
                        description: The token for the created transfer.
                      dateCreated:
                        type: string
                        format: date-time
                        description: The date and time when the transfer was created.
                      dateUpdated:
                        type: string
                        format: date-time
                        description: The date and time when the transfer was last updated.
                      statusId:
                        type: integer
                        description: The status ID of the transfer.
                      fxRate:
                        type: number
                        format: float
                        description: The foreign exchange rate applied to the transfer.
                      customerFee:
                        type: number
                        format: float
                        description: The fee charged to the customer.
                      merchantFee:
                        type: number
                        format: float
                        description: The fee charged to the merchant.
        '400':
          $ref: 'openAPI/schemas/index.yml#/responses/BadRequest'
        '500':
          $ref: 'openAPI/schemas/index.yml#/responses/InternalServerError'
components:
  securitySchemes:
    apikeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Your API Key.
    XMerchantId:
      type: apiKey
      name: X-MerchantId
      in: header
      description: Your Merchant Identifier (GUID).
      