openapi: '3.0.3'
info:
  title: Transactions Module
  version: '1.0'
servers:
  - url: https://merchantapi.testewallet.com
tags:
  - name: Transactions
security:
  - bearerAuth: []
    XMerchantId: []
paths:
  /api/v{version}/Transaction/get:
    get:
      tags:
        - Transactions
      summary: Get Transactions
      description: This API will return list of transactions. You can use the filters like MerchantReferenceId, MerchantBatchId and LogTransactionId to filter the result data set. Atleast one parameter is required in the filter to search the data.
      operationId: get-transactions
      security:
        - bearerAuth: []
          XMerchantId: []
      parameters:
        - $ref: './schemas/index.yml#/parameters/Version'
        - $ref: './schemas/transaction_schemas.yml#/parameters/MerchantReferenceId'
        - $ref: './schemas/transaction_schemas.yml#/parameters/MerchantBatchId'
        - $ref: './schemas/transaction_schemas.yml#/parameters/LogTransactionId'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: './schemas/index.yml#/schemas/DefaultResponse'
                  - type: object
                    properties:
                      data:
                        $ref: './schemas/transaction_schemas.yml#/schemas/GetTransactionResponseData'
        '400':
          $ref: './schemas/index.yml#/responses/BadRequest'
        '500':
          $ref: './schemas/index.yml#/responses/InternalServerError'
