openapi: '3.0.3'
info:
  title: Webhooks Module
  version: '1.0'
servers:
  - url: https://merchantapi.testewallet.com
tags:
  - name: Webhooks
security:
  - apikeyAuth: []
paths:
  /api/v{version}/webhook/Create:
    post:
      tags:
        - Webhooks
      summary: Create Webhook
      operationId: create-webhook
      description: >-
        This API will create a new webhook and send notifications to the
        merchant URL based on the selected events.
      requestBody:
        content:
          application/json:
            schema:
              $ref: './schemas/webhook_schemas.yml#/schemas/CreateWebhookRequest'
      parameters:
        - $ref: './schemas/index.yml#/parameters/XMerchantId'
        - $ref: './schemas/index.yml#/parameters/Version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: './schemas/index.yml#/schemas/DefaultResponse'
                  - type: object
                    properties:
                      data:
                        $ref: './schemas/webhook_schemas.yml#/schemas/WebhookResponseData'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                allOf:
                  - $ref: './schemas/index.yml#/schemas/DefaultResponse'
                  - type: object
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                allOf:
                  - $ref: './schemas/index.yml#/schemas/DefaultResponse'
                  - type: object
  /api/v{version}/webhook/{token}/activate:
    put:
      tags:
        - Webhooks
      summary: Activate Webhook
      operationId: activate-webhook
      description: This API will activate the webhook subscription.
      parameters:
        - $ref: './schemas/index.yml#/parameters/XMerchantId'
        - $ref: './schemas/index.yml#/parameters/Version'
        - name: token
          in: path
          schema:
            type: string
          required: true
          description: The unique identifier token for the webhook to be activated.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: './schemas/index.yml#/schemas/DefaultResponse'
                  - type: object
                    properties:
                      data:
                        $ref: './schemas/webhook_schemas.yml#/schemas/WebhookResponseData'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                allOf:
                  - $ref: './schemas/index.yml#/schemas/DefaultResponse'
                  - type: object
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                allOf:
                  - $ref: './schemas/index.yml#/schemas/DefaultResponse'
                  - type: object

components:
  securitySchemes:
    apikeyAuth:
      type: apiKey
      in: header
      name: Authorization